<style>
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.grid-item-1 {
  padding: 0px;
  text-align: left;

}
.grid-item-2 {
  padding: 0px;
  text-align: right;
}
</style>

<div class="grid-container">
    <div class="grid-item-1">
      <div class="page__footer-follow">
        <ul class="social-icons">
          {% if site.data.ui-text[site.locale].follow_label %}
            <li><strong>{{ site.data.ui-text[site.locale].follow_label }}</strong></li>
          {% endif %}

          {% if site.footer.links %}
            {% for link in site.footer.links %}
              {% if link.label and link.url %}
                <li><a href="{{ link.url }}" rel="nofollow noopener noreferrer"><i class="{{ link.icon | default: 'fas fa-link' }}" aria-hidden="true"></i> {{ link.label }}</a></li>
              {% endif %}
            {% endfor %}
          {% endif %}

          {% unless site.atom_feed.hide %}
            <li><a href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ '/feed.xml' | relative_url }}{% endif %}"><i class="fas fa-fw fa-rss-square" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].feed_label | default: "Feed" }}</a></li>
          {% endunless %}
        </ul>
      </div>
    </div>
  <div class="grid-item-2">
    <div class="page__footer-copyright">&copy;  {{ site.title }} {{ site.time | date: '%Y' }}. <a href="{{relative_url}}/site-credits/">Site Credits</a>.</div>
  </div>
</div>
