<style>

.grid-container {
  /**
   * User input values.
   */
  --grid-layout-gap: 3em;
  --grid-column-count: 2;
  --grid-item--min-width: 300px;

  /**
   * Calculated values.
   */
  --gap-count: calc(var(--grid-column-count) - 1);
  --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
  --grid-item--max-width: calc((100% - var(--total-gap-width)) / var(--grid-column-count));

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr));
  column-gap: 3em;
  row-gap: 1em;
}


.grid-item-1 {
  text-align: left;
}

.grid-item-2 {
  text-align: right;
}

</style>

<div class="grid-container">
    <div class="grid-item">
      <div class="page__footer-follow">
        <ul class="social-icons">
          {% if site.data.ui-text[site.locale].follow_label %}
            <li><strong>{{ site.data.ui-text[site.locale].follow_label }}</strong></li>
          {% endif %}

          {% if site.footer.links %}
            {% for link in site.footer.links %}
              {% if link.label and link.url %}
                <li><a href="{{ link.url }}" rel="nofollow noopener noreferrer"><i class="{{ link.icon | default: 'fas fa-link' }}" aria-hidden="true"></i> {{ link.label }}</a></li>
              {% endif %}
            {% endfor %}
          {% endif %}

          {% unless site.atom_feed.hide %}
            <li><a href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ '/feed.xml' | relative_url }}{% endif %}"><i class="fas fa-fw fa-rss-square" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].feed_label | default: "Feed" }}</a></li>
          {% endunless %}
        </ul>
      </div>
    </div>
  <div class="grid-item-2">
    <div class="page__footer-copyright">&copy;  {{ site.title }} {{ site.time | date: '%Y' }}. <a href="{{site.baseurl}}/site-credits/">Site Credits</a>.</div>
  </div>
</div>
